
/extension/node_modules/
/extension/release/
/node_modules/
/cli/node_modules/
/cli/dist/
/ui/node_modules/
/extension/dist/
/.idea/
/.VSCodeCounter/
/apitypegen.config.json
/cli/apitypegen.config.json
/ts-swagger.config.json
/cli/ts-swagger.config.json
/.claude/
/.env.glitchtip.local
/.sentryclirc
