
.search-bar-wrapper{
    display: flex;
    align-items: center;
    color: #ced4d9;
    font-size: 14px;
    width: 100%;
    .search-icon {
        /*width: 40px;*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search-input{
        max-width: calc(100vw - 768px);
        color: rgba(0, 0, 0, 0.88);
        background: #ffffff;
        box-sizing: border-box;
        outline: none;
        transition: all .3s;
        &:focus {
            ~.search-shortcut{
                opacity: 0;
            }
        }
        &::placeholder {
            color: #ced4d9;
        }
    }
}
